extends layout

block content
  h1= title
  h1
    a(href="/new") Add a message

  p Welcome to #{title}
  p Allahu akbar
  b Messages
  each message in messages
    p #{message.text}
    p #{message.user}
    p #{message.added}
    p -------------
